# === MeshCompute Configuration ===

# Server Settings
SERVER_HOST=0.0.0.0
SERVER_PORT=8765

# Secret token 
AUTH_TOKEN=super_strong_token123321123321

# For client and controller (copy these lines in .env)
SERVER_URL=ws://DEINE_VPS_IP:8765
