# === MeshCompute Configuration ===

# Server settings
SERVER_HOST=IP_OF_YOUR_SERVER
SERVER_PORT=8765 # don't change

# Secret token
AUTH_TOKEN=SUPER_SECURE_TOKEN

SERVER_URL=ws://IP_OF_YOUR_SERVER:8765

REDIS_URL=redis://IP_OF_YOUR_SERVER:6379